body{
    background-image:url(https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /*background-color: #006666;*/
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.ppic img{
        border-radius: 100%;
}
.ppic{
    width:350px;
    height:330px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-top:5%;
    transform: translate(-50%);
    transition-property: width, height;
}
